.content_btn_login li a{
    text-decoration: none;
    color: #000;
    width: 100%;
}
.content_btn_login {
    list-style-type: none;
    padding: 0.5em;
    width: 100% !important;
    text-align: right;
    background-color: #cccccc;
}
.content_btn_login li {
    margin-bottom:0.4em;
    width: 100%;
}
.icon, .content_btn_login button{
    background-color: transparent;
    border: none;
}
.logOut {
    margin-left: 0.7em;
    font-size: 1.1em;
}
.box_person {
    width: 90%;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    text-align: left;
}
.myperfil, .myperfil a {
    text-align: left !important;
    text-decoration: none;
    color: #000;
    width: 100% !important;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.6em;
    margin-bottom: 0.7em;
}
.myperfil a {
    width: 100% !important;
}
.icon_home {
    margin-right: 0.6em;
    font-size: 1.1em;
}


