@media screen and (min-width:320px) {
    .cont_geral {
        background-color: #eeeeee;
        position: absolute;
        top: 15%;
        right: 1em;
        z-index: 1000;
        border-radius: 10px;
        box-shadow: 1px 1px 4px #0000006e;
    }
    .container {
        width: 100%;
    }
    .icon {
        width: 30px;
        height: 30px;
        margin-left: 0.7em;
    }
    .content {
        width: 100%;
    }
    .container button {
        border: none;
        padding: 0.6em;
        margin: 0.6em 0;
        border-radius: 10px;
        background-color: #fff;
    }
    .content_btn_login {
        display: flex;
        align-items: flex-start;
        height: 100%;
        width: 100%;
    }
    .cont_logOut p{
        margin-bottom: 0px;
    }
    .logOut{
        background-color: transparent !important;
        font-size: 1.2em;
        margin: 0!important;
    }
    
}

