@media screen and (min-width:320px) {
    .container {
        padding: 1em;
        background-color: #fff;
        width: 90%;
        border-radius: 10px;
        margin: 1em auto 4em auto;
        box-shadow: 1px 1px 4px #b3b3b3;
    }
    .container h3 {
        margin-bottom: 1em;
    }
    .item {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
    .line {
        width: 100%;
        background-color: #b3b3b3;
        margin: 1em 0;
        height: 1px;
    }
    .cont_detalhe_compra {
        border: 1px dashed #b3b3b3;
        padding: 0.5em;
        list-style-type: none;
    }
    .cont_detalhe_compra li {
        width: 100%;
        margin: 0 auto;
    }
    .price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 1em;
    }
    .total {
        font-size: 1.2em;
        margin-left: 0.3em;
    }
    .cont_status {
        width: 100%;
        padding: 0.6em;
        border: 1px solid #b3b3b3;
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
    }
    .cont_status p {
        margin-bottom: 0px;
    }
    .bg_success {
        background-color: #d2ffd2;
    }
    .bg_pending {
        background-color: #ffdec3;
    }
    .cont_buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .cont_buttons button {
        padding: 1em;
        border-radius: 10px;
        border: none;
    }
    .bg_expired {
        background-color: #b3b3b3;
    }
    .expirado {
        color: #b4b4b4;
    }

}
@media screen and (min-width:576px) {
    .container {
        width: 60%;
    }
}
.no_padding {
    padding: 0px;
}