.container {
    width: 90%;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
    margin: 1em auto;
    box-shadow: 1px 1px 4px #aaaaaa;
}
.container p {
    margin-bottom: 0.4em;
}
.container input {
    width:100%;
}
.cont_status {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1em 0em;
}
.cont_status select, .cont_status input {
    margin-left: 0.7em;
}
.cont_status p {
    margin-bottom: 0px;
}
.button_cont {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: flex-end;
}
.button_cont button {
    padding: 1em;
    border: none;
    border-radius: 10px;
    background-color: #FF9D00;
    color: #fff;
    box-shadow: 1px 1px 4px #949494;
    display: flex;
    align-items: center;
}
.icon_search {
    padding-right: 0.6em;
    font-size: 1em;
}
.button_cont button p {
    margin-bottom: 0px;
}
.button_cont a {
    margin-right: 0.8em;
}
.list {
    list-style-type: none;
    padding: 0px;
}
.list li {
    border-bottom: 1px dashed #aaaaaa;
}
.li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.6em 0em;
}
.list a {
    text-decoration: none;
    color: #000;
}
.date {
    font-size: 0.7em;
    font-weight: 600;
}
.ball {
    font-size: 0.7em;
    padding: 0px !important;
    margin: 0px !important;
}
.pending {
    color: #FF9D00;
}
.complete {
    color: #03fd18;
}
.cont_input_nome {
    display: table;
    width: 100%;
    position: relative;
}
.datalist {
    width:100%
}

.cont_busca ul {
    list-style-type: none;
    padding: 0px;
}