@media screen and (min-width:320px) {
    
    .btn_remove {
        cursor: pointer;
        font-size: 1.3em;
    }
    .box_buy {
        margin-bottom: 2em;
    }
    .view_mobile {
        position: fixed;
        bottom: 0;
        width: 90%;
        left: 0;
        right: 0;
        background-color: #ff9d00;
        padding: 0.5em;
        border-radius: 10px 10px 0px 0px;
        margin: 0 auto;
        border: none;
        color: #ffffff;
        font-weight: 600;
        z-index: 1800;
    }
    .view_mobile p {
        margin-bottom: 0px;
    }
    .btn_return {
        text-transform: capitalize;
        display: table;
        color: #000;
        margin-bottom: 1em;
    }
    .cont_return {
        display: flex;
        align-items: center;
    }
    .btn_return p {
        margin: 0px 0px 0px 3px;
    }
    .cont_btn_clean {
        width: 90%;
        margin: 1em auto;
    }
    .btn_clean {
        border-radius: 10px;
        background-color: transparent;
        border: none;
        text-decoration: underline;
        color: rgb(252, 0, 0);
    }
}

@media screen and (min-width:576px) {
    .chekoutdesk{ 
        position: inherit;
        display: block;
        height: auto;
        cursor: default;
    }
    .view_mobile {
        display: none;
    }
    .img_box {
        width: 100% !important;
        height: 80px;
        margin-bottom: 0.5em;
    }
}
@media screen and (min-width:990px) {
    .img_box {
        width: 70% !important;
        height: 150px;
        margin-bottom: 0.5em;
    }
}