.search {
    padding: 0.5em;
    border-radius: 10px 0px 0px 10px;
    background-color: #fff;
    border: none;
}
.btn {
    padding: 0.5em 0.7em;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: #FF9D00;
    color: #fff;
}
.content_input {
    margin-left: 0.7em;
}
.text {
    font-size: 1em;
    margin: 0.7em 0;
    color: red;
}