.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 1px 1px 4px #02020265;
    padding: 1em;
}
.cont_down {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-radius: 10px;
    margin-bottom: 0.7em;
}
.icon_close {
    text-align: right;
    display: flex;
    justify-content: space-between;
}
.icon {
    font-size: 1.5em;
}
.name {
    border-bottom: 1px solid #b8b8b8;
    font-size: 1.2em;
    font-weight: 800;
}
.confirm, .cancel {
    padding: 1em;
    border-radius: 10px;
    border: none;
}
.confirm {
    background-color: #FF9D00 !important;
    color: #fff;
}
.cancel {
    background-color: #b8b8b8 !important;
    color: #f1f1f1;
}