.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
span {
    border: none !important;
}
.btn_confirm, .btn_cancel,.btn_confirmado {
    padding: 1em;
    border: none ;
    border-radius: 10px;
    background-color: #ff9d00;
    color: #fff;
    margin-top: 0.8em;
}
.btn_confirmado {
    background-color: #6b6b6b;
    box-shadow: inset 1px 1px 3px #000
}
.btn_confirm {
    margin-right: 0.6em;
    transition: 0.4em;
    box-shadow: 1px 1px 4px #000;
}
.btn_confirm:hover {
    background-color: #fcc367;
}
.btn_cancel {
    background-color: #e7e7e7;
    color: #6b6b6b;
}
.press {
    padding: 1em;
    border: none;
    border-radius: 10px;
    background-color: #6d6d6d;
    color: #6d6d6d;
    color: #fff;
    margin-top: 0.8em;
    margin-right: 0.6em;
}