
.container {
    width: 100%;
    display: table;
}
.content {
    background-color: #fff !important;
}

.header {
    padding: 1em;
    background-color: #ff9d00;
    color: #fff;
}
.list_categories {
    padding: 0px;
    text-align: left !important;
    list-style-type: disc !important;
    background-color: #f0f0f0;
}
.list_categories li{
    border: none !important;
    text-align: left !important;
    padding: 0.2em 0em !important;
    height: auto !important;
}
.categories {
    list-style-type: none;
    padding-left: 0em;
}
.categories a, .categories li, .item {
    padding: 1em;
    border: 1px solid rgb(221, 221, 221);
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
}
.categories li:first-child {
    text-align: right;
    height: 56px;
}
.btn_close {
    position: absolute;
    left: 0;
    margin-left: 1em;
    font-size: 1.5em;
}