@media screen and (min-width:320px) {
    .container_list {
        list-style-type: none;
        padding: 0px;
        display: flex;
        justify-content: flex-end;
        background-color: #fff;
        padding: 1em 0em;
        border-radius: 10px;
    }
    .contImagem img {
        width: 100%;
        height: 50px;
    }
    .cont_name_item {
        font-size: 1em;
        font-weight: 800;
    }
    .cont_price_item {
        font-size: 1em;
        font-weight: 800;
    }
    .avista {
        font-size: 0.7em;
    }
    .box {
        margin: 0em auto 1em auto;
    }
    .box_info {
        width: 100%;
    }
    .box_price {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
        margin-top: 0.7em;
    }
    .box_price p {
        margin-bottom: 0px;
    }
}
@media screen and (min-width:660px) {
    .contImagem img {
        height: 120px;
    }
}