
@media screen and (min-width:320px) {
    .container_list {
        margin: 1em 0em;
        padding: 0em;
        list-style-type: none;
    }
    .container {
        width: 100%;
        padding-left: 0.5em;
    }
    .btn_edit {
        font-size: 1.2em;
        color: #000;
    }
    .contImagem {
        position: relative;
    }
    .box {
        margin-bottom: 3em;
    }
    .contImagem img{
        width: 100%;
        height: 170px !important;
        border: 1px solid #bebebe;
    }
    .info_item {
        width: 100%;
        margin: 1em 0em;
    }
    .cont_name_item {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 1em 0;
    }
    .btn_favorite {
        font-size: 1.2em;
    }
    .cont_name_item h4{
        font-weight: 600;
        font-size: 1em !important;
        text-transform: capitalize;
        margin-bottom: 0px;
    }
    .cont_price_item {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    .cont_price_item p {
        font-weight: 800;
        font-size: 1em;
        margin-bottom: 0px;
    }
    .line {
        width: 100%;
        margin: 1.2em auto 0.8em auto;
        height: 1px;
        background-color: #FF9D00;
    }
    .avista {
        font-weight: 600;
        font-size: 0.9em !important;
        margin-left: 0.3em;
    }
    .icon_edit {
        font-size: 1.3em;
    }
    .button_add {
        border: none;
        padding: 1em;
        margin-bottom: 0.8em;
    }
    .icon_more {
        color: rgb(255, 0, 0);
        margin-right: 0.8em;
    }
    .price_desconto p{
        margin-bottom: 0em;
        font-size: 0.9em;
        color: #444444;
    }
    .poucasUnid,.destaque {
        position: absolute;
        bottom: 4em;
        background-color: #ebebebab;
        width: 100%;
        text-align: center;
    }
    .destaque {
        background-color: #ff0000;
        bottom: 0em;
        color: #fff;
        font-weight: 800;
        font-size: 1.2em;
        border-radius: 10px 10px 0px 0px;
    }
    .destaque p {
        margin-bottom: 0px;
    }
    .poucasUnid p {
        color: #ff0000;
        padding: 0.6em 0em;
        text-transform: uppercase;
        margin: 0px;
        font-weight: 800;
    }

    .parcelamento {
        font-size: 0.7em;
        font-weight: 800;
    }
    .parcelamento span {
        margin: 0em 0.3em;
    }
    .price {
        color: #FF9D00;
        font-size: 1.2em !important;
    }
    .content_item {
        color: #585858;
    }
}
@media screen and (min-width:765px) {
    .contImagem img{
        height: 250px !important;
    }
}
@media screen and (min-width:990px) {
    .contImagem img{
        width: 100%;
        height: 270px !important;
        border: 1px solid #bebebe;
    }
}