@media screen and (min-width:320px) {
    .cont_list {
        display: none;
    }
    .list a {
        padding: 0.7em;
    }
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .BoxNavigation {
        position: inherit !important;
        margin-top: 3.9em;
        background-color: #fff;
        width: 100%;
        padding: 0.7em 0;
        box-shadow: -2px 3px 7px 1px #b3b3b3;
    }
    .nav {
        height: 30px;
    }
    .cate {
        margin-bottom: 0px !important;
        padding: 0px !important;
    }
    .list_categories {
        display: flex;
        justify-content: center;
    }
    .list_categories a {
        margin: 0em 0.4em;
        padding: 0.2em 0.7em;
        text-align: center;
    }

}
@media screen and (min-width:576px) {
    .cont_list {
        position: fixed;
        display: block;
    }
    .list a {
        padding: 0.7em;
    }
}
