@media screen and (min-width:320px) {
    .container_geral {
        display: block !important;
        position: inherit !important;
        width: 100%;
        height: 140px;
    } 
    .logo {
        width: 40px;
        height: 40px;
    }
    .navBar {
        width: 100%;
        position: inherit !important;
        background-color: #F5F5F5 !important;
        z-index: 1000;
    }
    .nav {
        justify-content: space-between;
        width: 100%;
        background-color: #F5F5F5 !important;
        z-index: 1000;
        padding: 0.7em;
    }
    .container_NavBar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #F5F5F5 !important;
        z-index: 1000;
    }
    .cont_right {
        display: flex;
        align-items: center;
        height: 100%;
        color: #000;
        justify-content: flex-end;
    }
    .cont_left {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .cont_left a {
        margin-left: 1em;
        position: relative;
        color: #000;
        text-decoration: none;
        font-size: 1.5em;
    }
    .cont_left a:not(:first-child)::before {
        width: 0%;
        height: 1px;
        background-color: #ff9d00;
        content: "";
        position: absolute;
        bottom: 0px;
        transition: 0.3s ease;
    }
    .cont_left a:hover:before {
        width: 100%;
    }
    .icon {
        font-size: 1.6em;
        color: #000;
        cursor: pointer;
        margin-right: 1em;
    }
    .content_desk {
        display: none;
    }
    .content_icon {
        display: flex;
        align-items: center !important;
    }
    .content_icon p {
        margin: 0px;
    }
    .icon_login {
        font-size: 1.6em;
        margin: 0 0.5em;
        cursor: pointer;
    }
    .name_user {
        position: absolute;
        top: 0.6em;
        right: 1em;
    }
    .name_user span {
        margin-left: 0.3em;
        font-weight: 600;
    }
    .icon_mobile {
        font-size: 1.5em;
        color: #000;
        margin-left: 0.4em;
    }
    .cont_bag {
        position: relative;
    }
    .power {
        color: #25f809;
        margin-right: 0.5em;
    }
    .photo_user {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .btn {
        border: none;
        background-color: transparent;
    }
    .drop {
        padding: 0px;
    }
}
@media screen and (min-width:700px) {
    .content_desk {
        display: flex;
    }
    .icon_mobile {
        display: none;
    }
}