@media screen and (min-width:320px) {
    .logo {
        width: 80px;
        height: 80px;
    }
    .navBar {
        justify-content: space-between;
        margin: 1em 0px 2em 0px;
    }
    .cont_right {
        display: flex;
        align-items: center;
        height: 100%;
        color: #000;
        justify-content: flex-end;
        margin-top: 10%;
    }
    .cont_left {
        display: flex;
        height: 100%;
        align-items: flex-end;
    }
    .cont_left a {
        margin-left: 1em;
        position: relative;
        color: #000;
        text-decoration: none;
        font-size: 1.5em;
    }
    .cont_left a:not(:first-child)::before {
        width: 0%;
        height: 1px;
        background-color: #ff9d00;
        content: "";
        position: absolute;
        bottom: 0px;
        transition: 0.3s ease;
    }
    .cont_left a:hover:before {
        width: 100%;
    }
    .icon {
        font-size: 1.6em;
        color: #000;
        cursor: pointer;
        margin-right: 1em;
    }
    .content_desk {
        display: none;
    }
    .content_icon {
        display: flex;
        height: 100%;
        align-items: center;
    }
    .content_icon p {
        margin: 0px;
    }
    .icon_login {
        font-size: 1.6em;
        margin: 0 0.5em;
        cursor: pointer;
    }
    .name_user {
        position: absolute;
        top: 0.6em;
        right: 1em;
    }
    .name_user span {
        margin-left: 0.3em;
        font-weight: 600;
    }
    .icon_mobile {
        font-size: 1.5em;
        color: #000;
        margin-left: 0.4em;
    }
    .cont_bag {
        position: relative;
    }
    .qtd {
        position: absolute;
        bottom: -10px;
        left: -8px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff9d00;
        padding: 0.6em;
    }
    .qtd p {
        border-radius: 50%;
        margin: 0px;
        font-size: 0.8em;
        color: #fff;
    }
    .id_admin {
        position: absolute;
        top: 2%;
        right: 2%;
        background-color: #fff;
        padding: 0.1em 0.2em;
        border-radius: 5px;
    }
    .power {
        color: #25f809;
        margin-right: 0.5em;
    }
}
@media screen and (min-width:700px) {
    .content_desk {
        display: flex;
    }
    .icon_mobile {
        display: none;
    }
}